body {
  background-color: #181818;
  margin: 0;
  user-select: none;
  justify-content: space-between;
  overflow: hidden;
}

.imagen {
  justify-content: space-between;
  width: 150px;
  height: 150px;
  display: grid;
  place-content: center;
  margin: 25px auto 0px auto;
}

.header {
  display: flex;
  margin: 20px auto 0 auto;
  text-align: center;
  justify-content: space-between;
  width: 1200px;
  border-radius: 20px 20px 0 0;
  height: 70px;
  background-color: #101010;
  overflow: hidden;
  border-bottom: 3px solid rgb(46, 46, 46);
}

.texto {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  font-size: 25px;
  transition: 0.2s;
}

.sobreMi {
  cursor: pointer;
  display: grid;
  place-content: center;
  margin: auto;
  justify-content: center;
}

.titulos {
  cursor: pointer;
  display: grid;
  place-content: center;
  margin: auto;
  justify-content: center;
}

.proyectos {
  cursor: pointer;
  display: grid;
  place-content: center;
  margin: auto;
  justify-content: center;
}

.contenido {
  display: flex;
  margin: 0 auto 40px auto;
  width: 1200px;
  height: 600px;
  border-radius: 0 0 30px 30px;
  overflow: hidden;
  font-size: 25px;
}

::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-button {
  visibility: hidden;
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 116);
}

h1 {
  color: white;
  margin: 20px auto;
  font-size: 35px;
  margin-bottom: 0;
}

.info1 {
  color: white;
  display: none;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: auto;
  background-color: #101010;
  justify-content: center;
  overflow: auto;
  scroll-behavior: smooth;
  z-index: 2;
}

.atras {
  pointer-events: none;
  user-select: none;
  margin-top: 75px;
  margin-left: 50px;
  z-index: 1;
  position: fixed;
}

.info2 {
  color: white;
  display: none;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: auto;
  background-color: #101010;
  overflow: auto;
  scroll-behavior: smooth;
}
.info3 {
  color: white;
  display: none;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: auto;
  background-color: #101010;
  overflow: auto;
  scroll-behavior: smooth;
}

.izq {
  text-align: left;
  margin-left: 100px;
  overflow: hidden;
}

span {
  color: rgb(255, 255, 116);
  font-family: sans-serif;
  padding: 3px;
  background-color: rgb(29, 29, 29);
  border-radius: 10px;
  font-size: 20px;
}

.descarga {
  width: 100%;
  height: 100px;
  text-align: center;
  justify-content: center;
  margin: 0 auto 0 auto;
}

a {
  text-decoration: none;
}

.cheto {
  cursor: pointer;
  color: black;
  width: fit-content;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  background-color: rgb(255, 255, 116);
  padding: 10px;
}

iframe {
  margin-top: 50px;
  border-radius: 30px;
  height: 485px;
  width: 860px;
  box-shadow: rgba(169, 124, 182, 0.473) 0px 0px 30px 0px;
}
