body {
  background-color: #181818;
  margin: 0;
  user-select: none;
  justify-content: space-between;
}

.header {
  display: flex;
  margin: 20px auto 0 auto;
  text-align: center;
  justify-content: space-between;
  width: 80%;
  border-radius: 20px 20px 0 0;
  height: 100px;
  background-color: #101010;
  overflow: hidden;
  border-bottom: 3px solid rgb(46, 46, 46);
}

.texto {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  font-size: 40px;
  transition: 0.2s;
}
.imagen {
  justify-content: space-between;
  width: 200px;
  height: 200px;
  display: grid;
  place-content: center;
  margin: 25px auto 0px auto;
}

.sobreMi {
  cursor: pointer;
  width: auto;
  display: grid;
  place-content: center;
  margin: auto 250px;
  justify-content: left;
}

.titulos {
  cursor: pointer;
  height: 90px;
  display: grid;
  place-content: center;
  justify-content: center;
}

.proyectos {
  cursor: pointer;
  height: 90px;
  display: grid;
  margin: auto 250px;
  place-content: center;
  justify-content: right;
}

.contenido {
  display: flex;
  margin: 0 auto 80px auto;
  width: 80%;
  height: 900px;
  border-radius: 0 0 30px 30px;
  overflow: hidden;
  font-size: 35px;
  transition: 1s;
  scale: 1;
}

::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-button {
  visibility: hidden;
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 116);
}

h1 {
  color: white;
  margin: 20px auto;
  font-size: 40px;
  margin-bottom: 0;
}

.info1 {
  color: white;
  display: none;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 1000px;
  background-color: #101010;
  justify-content: center;
  overflow: auto;
}

.info2 {
  color: white;
  display: none;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 1000px;
  background-color: #101010;
  overflow: auto;
}
.info3 {
  color: white;
  display: none;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 1000px;
  background-color: #101010;
  overflow: auto;
  scroll-behavior: smooth;
}

.izq {
  text-align: left;
  margin-left: 150px;
  margin-bottom: 40px;
}

span {
  color: rgb(255, 255, 116);
  font-family: sans-serif;
  padding: 3px;
  background-color: rgb(29, 29, 29);
  border-radius: 10px;
  font-size: 20px;
}

.descarga {
  width: 100%;
  height: 200px;
  text-align: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

.cheto {
  cursor: pointer;
  color: black;
  width: fit-content;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  background-color: rgb(255, 255, 116);
  padding: 10px;
}
